[submodule "src/fmt"]
	path = src/fmt
	url = https://github.com/ceph/fmt.git
[submodule "src/erasure-code/jerasure/jerasure"]
	path = src/erasure-code/jerasure/jerasure
	url = https://github.com/ceph/jerasure.git
	branch = v2-ceph
[submodule "src/erasure-code/jerasure/gf-complete"]
	path = src/erasure-code/jerasure/gf-complete
	url = https://github.com/ceph/gf-complete.git
	branch = v3-ceph
[submodule "src/rocksdb"]
	path = src/rocksdb
	url = https://github.com/ceph/rocksdb
[submodule "xxHash"]
	path = xxHash
	url = https://github.com/ceph/xxHash.git
